.calendar {
  display: flex;
  flex-wrap: wrap;

  margin: 100px auto;
  width: 7 * ($block-side + $space-size);

  div {
    display: flex;
    justify-content: center;
    align-items: center;

    height: $block-side;
    width: $block-side;
    margin: 0 $space-size $space-size 0;
    border: 1px solid $block-color;

    background-color: $block-background;
    cursor: pointer;

    transition: transform ease 0.5s;

    &:hover {
      transform: translateY(-20px);
      background-color: pink;
    }
  }
}

@each $number, $day in $days {

  .calendar-#{$day} > div:nth-child(1) {
    margin-left: #{$number * ($space-size + $block-side)};
  }
}

@for $i from 1 through 31 {
  .calendar > div:nth-child(#{$i})::before {
    content: "#{$i}";
  }
}

@for $i from 28 through 31 {
  .calendar-#{$i} {
    & > div:nth-child(n + #{$i + 1}) {
      display: none;
    }
  }
}
